@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 16px aka default*/
  /* --text-base: 1rem; */
  --font-sans: var(--font-karla-sans);

  /* Primary Colors */
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  /* Neutral */
  --color-gray-500: hsl(186, 15%, 59%);
  --color-gray-900: hsl(187, 24%, 22%);

  /* Animations */
  --animate-toast: toastSlide 3s ease-in-out infinite;

  @keyframes toastSlide {
    0%,
    100% {
      transform: translateY(-18.75rem);
    }
    10%,
    90% {
      transform: translateY(0px);
    }
  }
}

* {
  @apply outline-1 outline-red-300;
}

body {
  background: var(--color-green-200);
  font-size: var(--text-base);
  font-weight: 400;
  color: var(--foreground);
  font-family: var(--font-karla-sans), Arial, Helvetica, sans-serif;
}

.field {
  @apply flex flex-col text-gray-900 gap-2 cursor-pointer;

  input,
  textarea {
    @apply text-lg text-gray-900 border border-green-600 px-4 py-2 rounded-xl resize-none;
  }

  span.error {
    @apply text-red-500 hidden;
  }
}

.field--half {
  @apply grow basis-[calc(50%-.5rem)];
}

.field--full {
  @apply basis-full;
}

.field--horizontal {
  @apply flex-row;
}

.btn {
  @apply px-8 py-4 rounded-2xl cursor-pointer text-lg;
}

.btn--primary {
  @apply bg-green-600 text-white;
}

.afterAsterisk {
  @apply after:content-["*"] after:ml-2 after:text-green-600;
}
